@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
}


 

.navbar {
    @apply flex gap-4
}

.main {
    @apply grow p-4
}






.card-container {
    @apply   py-10 grid grid-cols-1 sm:grid-cols-2 sm:px-0.5 md:grid-cols-3 md:px-10 lg:grid-cols-3 lg:px-20 xl:grid-cols-3 xl:px-40 2xl:grid-cols-3 2xl:px-80 gap-8 ;
}

.card {

    @apply p-2 shadow-md space-y-8 rounded-sm hover:scale-105 transition-all;

    &__title {
        font-family:sans-serif;
        @apply text-base text-left overflow-hidden overflow-ellipsis;
    }

    &__image {
        @apply h-[200px] object-contain w-full;
    }
}

.active {
    @apply  text-yellow-600 scale-150 transition-all;
}

.btn{@apply bg-yellow-600 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded mr-2 my-1 mx-1 text-center }
.btn-pop{@apply bg-red-400 hover:bg-red-500 text-white font-bold rounded mr-2 my-1 mx-1 text-center h-7 w-7 }
.btn-add{@apply bg-yellow-600 hover:bg-yellow-700 text-white font-bold rounded mr-2 my-1 mx-1 text-center h-7 w-7 }


.cart-card {

    @apply  shadow-md  rounded-sm hover:bg-slate-200 ;

    
}
td {@apply text-left}
